mixin div-image(className, img, href, fade)
  if fade
    div(style='background-image:url("img/#{img}")' class="#{className} wow fadeIn")
  else
    div(style='background-image:url("img/#{img}")' class="#{className}")

mixin portfolio-item(title, url, img, ...skills)
  section.portfolio-item
    h3= title
    //- img(src=img)
    //- .portfolio-img(style='background-image:url("img/#{img}")' class='wow fadeIn')
    .portfolio-img(style='background-image:url("img/#{img}")' class="wow fadeIn")
      a(href=url)
        span.mtlink
          span View Site
    block
    a.portfolio-link(href=url) View Site
    .center-skill
      ul.skill-list
        each skill in skills
          li= skill

mixin nav-items(...items)
  ul
  each item in items
    li
      a.nav-link(href='##{item.toLowerCase()}')= item